<px-card header-text='Menu 2'>
    <h3>Select engine: </h3>
    <px-dropdown display-value="Elige número de vuelo">
        <px-dropdown-content class="px-dropdown-content" extend-dropdown="true" extend-dropdown-by="25" max-cont-character-width="10" items='[{"key":"58171", "val": "58171"}, {"key":"58172", "val": "58172"}, {"key":"58173", "val": "58173"}, {"key":"58174", "val": "58174"}]'>
        </px-dropdown-content>
    </px-dropdown>

    <px-simple-bar-chart
        width='800'
        height='300'
        legend-labels='["Lorem"]'
        colors='["#5dbc3e"]'
        chart-data="[[20,32,44,56,68,80]]"
    ><px-simple-bar-chart>
</px-card>

